<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nutritional List</title>
</head>

<body>
  <h1>Nutritional List</h1>
  <h1>Welcome to Body'N'Soul!</h1>

  <div>Don't have an account yet?
    <a href="{% url 'authentication:register' %}">Register Now</a>
  </div>
  <div>Are you already a member?
    <a href="{% url 'authentication:login' %}">Login Now</a>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Kilocalories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrate</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.kilocalories }}</td>
        <td>{{ item.protein }}</td>
        <td>{{ item.fat }}</td>
        <td>{{ item.carbohydrate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>