<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Calorie Tracking</title>
</head>

<body>
  <h1>Food is not your enemy!</h1>
  <a href="{% url 'main:problem_report' %}">
    <button>
      Problem Report
    </button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button>
      Logout
    </button>
  </a>
  <table border="1">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Kilocalories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrate</th>
      </tr>
    </thead>
    <tbody>
      {% for tracking_item in tracking_items %}
      <tr>
        <td>{{ tracking_item.item.category }}</td>
        <td>{{ tracking_item.item.description }}</td>
        <td>{{ tracking_item.item.kilocalories }}</td>
        <td>{{ tracking_item.item.protein }}</td>
        <td>{{ tracking_item.item.fat }}</td>
        <td>{{ tracking_item.item.carbohydrate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>