<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nutritional Information</title>
</head>

<body>
  <h1>Nutritional Information</h1>
  <h1>Welcome Back to Body'N'Soul!</h1>
  <a href="{% url 'main:problem_report' %}">
    <button>
      Problem Report
    </button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button>
      Logout
    </button>
  </a>
  <a href="{% url 'main:stats' %}">
    <button>
      Stats
    </button>
  </a>
  <table border="1">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Kilocalories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrate</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.kilocalories }}</td>
        <td>{{ item.protein }}</td>
        <td>{{ item.fat }}</td>
        <td>{{ item.carbohydrate }}</td>
        <td>
          <form method="post" action="{% url 'main:add_to_tracking' %}">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="submit">Add to Tracking</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>