{% extends 'base.html' %}

{% block meta %}
<title>Landing</title>
{% endblock meta %}

{% block content %}

<div class="landing">

  <h1>Welcome to Body'N'Soul!</h1>

  <div>Don't have an account yet?
    <a href="{% url 'main:register' %}">Register Now</a>
  </div>
  <div>Are you already a member?
    <a href="{% url 'main:login' %}">Login Now</a>
  </div>
  <div>Checkout our list to see if they suit you!
    <a href="{% url 'main:data_list' %}">List</a>
  </div>

</div>

{% endblock content %}