<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Data List</title>
</head>

<body>
  <h1>Data List</h1>
  <a href="{% url 'main:problem_report' %}">
    <button>
        Add New Report
    </button>
  </a>
  <a href="{% url 'main:logout' %}">
    <button>
      Logout
    </button>
  </a>
  <table border="1">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Kilocalories</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrate</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.kilocalories }}</td>
        <td>{{ item.protein }}</td>
        <td>{{ item.fat }}</td>
        <td>{{ item.carbohydrate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>

</html>